{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Kisaan Network</title>
    <link rel="stylesheet" href="{% static 'src/kisan.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'src/bootstrap.css'%}" media="screen">
    <script src="{% static "src/jquery-2.1.4.min.js "%}"></script>
    <script src="{% static "src/bootstrap.min.js "%}"></script>
    <script src="{% static "src/kisan.js "%}"></script>
    {% block addsrc %}{% endblock %}
</head>

<body>
    <div id="body">
        <div id="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Kisaan</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
\
                    </div>
                </div>
            </nav>
        </div>